<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                @Html.ActionLink("Sklep komputerowy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    @if (WebSecurity.IsAuthenticated == true)
                    {
                        if (System.Web.Security.Roles.IsUserInRole(ComputerShop.Core.Enums.ShopRoles.Admin.ToString()))
                        {
                            <li><a href="@Url.Action("Index","Admin")"><span class="glyphicon glyphicon-wrench"></span> </a></li>
                        }
                        <li><a href="@Url.Action("Register","Account")"><span class="glyphicon glyphicon-user"></span> Moje konto</a></li>
                        <li><a href="@Url.Action("Logout","Account")"><span class="glyphicon glyphicon-log-out"></span> Wyloguj się</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Register","Account")"><span class="glyphicon glyphicon-user"></span> Zarejestruj się</a></li>
                        <li><a href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
                    }
                    
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sklep komputerowy - Paweł Tetke</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>