@model ComputerShop.Web.Models.AssemblyViewModels.CreateNewAssemblyViewModel
@{
    ViewBag.Title = "CreateNewAssembly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <br />
            <div class="btn-group-vertical">
                <a href="@Url.Action("FinishCurrentAssembly", "Assembly", new { userId = WebSecurity.CurrentUserId })" class="btn btn-default">Zapisz konfigurację</a>
            </div>  
            Wybierz przeznaczenie dla zestawu:
            @using (Html.BeginForm("SetAssemblyRole", "Assembly"))
            {
                @Html.DropDownList("AssemblyRole", new SelectList(Enum.GetValues(typeof(ComputerShop.Core.Enums.AssemblyRole))))
                <input type="hidden" value="@Model.CurrentAssembly.Id" id="assemblyId" name="assemblyId" />
                <input type="submit" value="Potwierdź" class="btn btn-default" />
            }
        </div>
        
        <div class="col-sm-6">
            <h4>Wybierz element zestawu</h4>
            <p><b>Elementy wymagane</b></p>
            <div class="panel-group">
                 @foreach (var item in Model.Categories)
                 {
                     if (item.IsRequiredToAssembly == true)
                     {
                         <div class="panel panel-primary">
                             <div class="panel-heading"><a href="@Url.Action("MatchProductToAssembly", "Assembly", new { userId = WebSecurity.CurrentUserId, categoryId = item.Id })" class="btn btn-default">@item.CategoryName</a></div>
                             <div class="panel-body">@Model.CurrentAssembly.Products.Where(p => p.CategoryId == item.Id).Select(p => p.Name).FirstOrDefault()</div>
                         </div>
                     }
                 }    
            </div>
            
            <p><b>Elementy opcjonalne</b></p>
            <div class="panel-group">
                @foreach (var item in Model.Categories)
                {
                    if (item.IsRequiredToAssembly == false)
                    {
                        <div class="panel panel-success">
                            <div class="panel-heading"><a href="@Url.Action("MatchProductToAssembly", "Assembly", new { userId = WebSecurity.CurrentUserId, categoryId = item.Id })" class="btn btn-default">@item.CategoryName</a></div>
                            <div class="panel-body">@Model.CurrentAssembly.Products.Where(p => p.CategoryId == item.Id).Select(p => p.Name).FirstOrDefault()</div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

