@model ComputerShop.Web.Models.ShopViewModels.ProductsListViewModel
@{
    ViewBag.Title = "ProductsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h3>Kategorie</h3>
            <div class="panel-group">
                @foreach (var group in Model.AllGroups)
                {
                    <div class="panel panel-default panel">
                        <div class="panel-heading"><a href="@Url.Action("ProductsList", new { groupId = group.Id })">@group.GroupName</a></div>
                        @foreach (var category in group.Categories)
                        {
                        <div class="panel-body"><a href="@Url.Action("ProductsList", new { categoryId = category.Id })">@category.CategoryName</a></div>
                        }
                    </div>
                    
                }
            </div>
            <h3>Konfigurator</h3>
        </div>
        <div class="col-sm-6">
            <h3>Produkty</h3>
            <div class="panel-group">
                @foreach (var product in Model.Products)
                {
                    <div class="panel panel-success">
                        <div class="panel-heading">@product.Producent.Name @product.Name</div>
                        <div class="panel-body text-right">@product.Price zł
                        @if (WebSecurity.IsAuthenticated)
                        {
                            <a href="@Url.Action("AddProductToBasket", new { productId = product.Id })" class="btn btn-warning"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        }                          
                        </div>
                        
                    </div>
                }
            </div>
        </div>
        @if (WebSecurity.IsAuthenticated && Model.Basket != null)
        {
            <div class="col-sm-4">
                <h3>Twój koszyk</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Ilość</th>
                            <th><span class="glyphicon glyphicon-cog"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Basket.BasketItems)
                        {
                            <tr>
                                <td>@item.Product.Producent.Name @item.Product.Name</td>
                                <td>@item.AmountOfProducts szt</td>
                                <td><a href="@Url.Action("RemoveItemFromBasket" ,"Products", new { basketId = Model.Basket.Id, productId = item.ProductId})"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("MakeAnOrder", "Products", new { basketId = Model.Basket.Id })" class="btn btn-primary">Złóż zamówienie</a>
            </div>
        }
    </div>
</div>

